# Local development override
.claude
my-blog/.hugo_build.lock
html/
.env

# Override the files in root directory but not the copies in local-conf folder
/docker-compose.override.yml
/nginx.override.conf