services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./my-blog/public:/usr/share/nginx/html      
      - /var/www/certbot:/var/www/certbot:ro
    restart: unless-stopped
